#about {
    margin-bottom: 6rem;

    @include mq768 {
        margin-bottom: 5.5rem;

        @include mq768 {
            margin-bottom: 5rem;
        }
    }
}

.about {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18rem;

    @include mq1100 {
        flex-direction: column;
        align-items: center;
    }

    .profileImage {
        width: 37%;
        position: relative;

        @include mq1100 {
            margin-bottom: 4rem;
        }

        @include mq768 {
            width: 50%;
        }

        @include mq600 {
            width: 60%;
        }

        @include mq430 {
            width: 95%;
        }

        .overlayImage {
            position: absolute;
            width: 6rem;
            height: 6rem;
            top: -6rem;
            left: 0rem;
            opacity: 0;
            transition: opacity 0.7s;
            
            &.active {
                opacity: 1;
            }
            
            @include mq768 {
                width: 5.5rem;
                height: 5.5rem;
                top: -5.5rem;
            }
            
            @include mq430 {
                width: 5rem;
                height: 5rem;
                top: -5rem;
            }
        }
    }

    .aboutMeDescription {
        width: 56%;

        @include mq1100 {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            text-align: center;
        }

        @include mq768 {
            width: 90%;
        }

        @include mq430 {
            width: 95%;
        }

        p {
            font-size: 1.8rem;
            line-height: 2.8rem;
            margin: 0;

            span {
                color: rgb(216, 137, 173);
            }

            @include mq1100 {
                font-size: 1.7rem;
                line-height: 2.7rem;
            }

            @include mq600 {
                font-size: 1.65rem;
                line-height: 2.65rem;
            }

            @include mq375 {
                font-size: 1.55rem;
                line-height: 2.55rem;
            }
        }

        p:nth-of-type(2) {
            margin-top: 1.7rem;

            @include mq1100 {
                margin-bottom: 3rem;
            }
        }

        a {
            display: inline-block;
            font-size: 2rem;
            margin-top: 3rem;
            padding: 1.4rem 2.3rem;
            text-transform: uppercase;
            border: 2px solid black;
            color: black;
            text-decoration: none;

            &:hover {
                color: white;
                background: black;
            }

            @include mq1100 {
                margin-top: 0;
                font-size: 1.9rem;
            }

            @include mq600 {
                font-size: 1.8rem;
            }

            @include mq375 {
                font-size: 1.7rem;
            }
        }
    }
}