header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: black;
    margin-bottom: 10rem;

    &.showHeaderImage {
        background-image: url(../assets/headerImage.jpeg);
        background-size: 100% 55%;
        background-repeat: no-repeat;
        background-position: 0 50%;
    }

    @include mq600 {
        padding-bottom: 6rem;
    }

    .headerVideo {
        height: 80%;

        &.hideVideo {
            display: none;
        }
    }

    h1 {
        position: absolute;
        font-size: 9rem;
        color: white;
        text-align: center;
        text-transform: uppercase;

        @include mq1100 {
            font-size: 8rem;
        }

        @include mq768 {
            width: 85%;
            font-size: 7.3rem;
            line-height: 7.3rem;
        }

        @include mq600 {
            font-size: 6.8rem;
            line-height: 6.8rem;
        }

        @include mq430 {
            font-size: 6.3rem;
            line-height: 6.3rem;
        }

        @include mq375 {
            font-size: 6rem;
            line-height: 6rem;
        }
    }
}