header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: black;
    margin-bottom: 10rem;

    .headerVideo {
        height: 80%;
    }

    h1 {
        position: absolute;
        font-size: 10rem;
        color: white;
        margin-bottom: 8vh;
        text-align: center;

        @include mq1100 {
            font-size: 9rem;
        }

        @include mq768 {
            width: 70%;
            text-align: left;
            line-height: 8rem;
            font-size: 8rem;
        }

        @include mq600 {
            font-size: 7rem;
            line-height: 7rem;
        }

        @include mq430 {
            font-size: 6rem;
            line-height: 6rem;
        }

        @include mq375 {
            font-size: 5.5rem;
            line-height: 6rem;
        }
    }
}