h2 {
    font-size: 6vmax;
    margin: 0 0 8rem;
    text-transform: uppercase;
}

.projectList {
    padding: 0;
    list-style: none;

    .project {
        padding: 8% 0;
        transition: all 0.5s;
        display: flex;
        justify-content: space-between;

        .description {
            width: 45%;
            transition: all 0.5s;

            .overlayImage {
                position: absolute;
                z-index: -1;
            }

            h3 {
                font-size: 5rem;
                margin-top: 0; 
            }

            a {
                color: black;
                text-decoration: none;
                font-size: 2rem;
                border: 2px solid black;
                padding: 1rem;
                margin-right: 2rem;
            }

            h4 {
                font-size: 2rem;
            }

            p {
                font-size: 1.8rem;
                line-height: 2.7rem;
            }
            
        }

        .projectImage {
            width: 50%;
            height: 50rem;
            margin-left: 3rem;
            transition: all 0.5s;
            position: relative;

            &.active {
            }

            .overlayImage {
                position: absolute;
                width: 10rem;
                height: 10rem;
                top: -10rem;
                right: -5rem;
                
                &.active {
                    animation: spin 1s linear infinite;
                }
            }

            .overlayImage:nth-child(1) {
                left: -5rem;
            }
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
