h2 {
    font-size: 6vmax;
    margin: 0 0 8rem;
    text-transform: uppercase;
}

.projectList {
    padding: 0;
    list-style: none;

    .project {
        margin: 0 0 20rem;
        transition: all 0.5s;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .description {
            margin-bottom: 8rem;
            padding-right: 40%;
            transition: all 0.5s;

            @include mq1100 {
                width: 45vmax;
                padding: 0;
                order: 2;
            }

            .overlayImage {
                position: absolute;
                z-index: -1;
            }

            h3 {
                font-size: 4rem;
                margin: 0 0 2rem; 
            }

            a {
                color: black;
                text-decoration: none;
                font-size: 1.8rem;
                border: 2px solid black;
                padding: 0.7rem;
                margin-right: 2rem;
            }

            h4 {
                font-size: 1.8rem;
                margin: 2rem 0 0;
            }

            p {
                font-size: 1.7rem;
                line-height: 2.7rem;
                margin: 1rem 0 0;
            }
        }

        .projectMobileImage {
            width: 30%;
            height: 45rem;
            transition: all 0.5s;
            position: relative;
            box-shadow: 0 0 1rem 0.1rem black;

            .overlayImage {
                position: absolute;
                width: 7rem;
                height: 7rem;
                top: -7rem;
                right: 0rem;
                
                &.active {
                    animation: spin 1.5s linear infinite;
                }

                @include mq768 {
                    width: 6rem;
                    height: 6rem;
                    top: -6rem;
                }
            }

            .overlayImage:nth-child(1) {
                left: 0;
            }

            @include mq1100 {
                order: 1;
                height: 34vmax;
                width: 22vmax;
                margin-bottom: 9rem;
            }

            @include mq768 {
                margin-bottom: 8rem;
            }
        }
        
        .projectDesktopImage {
            width: 65%;
            height: 45rem;
            transition: all 0.5s;
            position: relative;
            box-shadow: 0 0 1rem 0.1rem black;

            &.active {
            }

            .overlayImage {
                position: absolute;
                width: 7rem;
                height: 7rem;
                top: -7rem;
                right: 0rem;
                
                &.active {
                    animation: spin 1.5s linear infinite;
                }
                
                @include mq768 {
                    width: 6rem;
                    height: 6rem;
                    top: -6rem;
                }
            }

            .overlayImage:nth-child(1) {
                left: 0;
            }

            @include mq1100 {
                width: 57vmax;
                height: 35vmax;
                margin: 0 auto;
                order: 3;
            }
        }

        @include mq1100 {
            justify-content: space-evenly;
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
