#navTrigger {
    display: none;

    &:checked ~ nav {
        right: 0;
    }
}

.navTrigger {
    display: none;
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 7.5rem;
    height: 7.5rem;
    padding: 0.1rem;
    z-index: 999;
    color: white;
    cursor: pointer;
    box-shadow: 5px 5px 0.3rem 0 rgb(216, 137, 173);

    &:hover {
        top: 2.25rem;
        right: 1.85rem;
        box-shadow: 2.5px 2.5px 0.2rem 0 rgb(216, 137, 173);
    }

    @include mq1100 {
        display: block;
    }

    @include mq430 {
        width: 6rem;
        height: 6rem;
    }
}

nav {
   position: fixed;
   top: 0;
   right: 0;
   width: 100%;
   z-index: 2;
   transition: 0.4s all;

   &.changeColour {
       background: black;
   }

   @include mq1100 {
        width: 26rem;
        top: 9.5rem;
        right: -26rem;
        background: white;
   }

   @include mq430 {
       top: 8.5rem;
   }
    
    ul {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        margin-right: 10%;

        @include mq1100 {
            flex-direction: column;
            margin: 0;
            padding: 0;
        }
        
        li {
            position: relative;
            padding: 0.6rem 0;
            margin-left: 7rem;
            cursor: pointer;

            @include mq1100 {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 6rem;
                margin: 0;
            }

            .hoverEffectSpan {
                width: 0;
                height: 0.1rem;
                position: absolute;
                left: 50%;
                bottom: 0;
                border: 0 solid rgb(216, 137, 173);
                transition: all 0.3s;

                &.changeColour {
                    border: 0 solid white;
                }                

                &.showHoverEffect {
                    width: 100%;
                    border: 0.15rem solid rgb(216, 137, 173);
                    left: 0;

                    &.changeColour {
                        border: 0.15rem solid white;
                    }
                }

                &.hideHoverEffect {
                    width: 0;
                }
            }
        }

        a {
            color: white;
            text-decoration: none;
            font-size: 2.5rem;
            text-transform: uppercase;

            &.changeColour {
                color: white;
            }

            @include mq1100 {
                font-size: 2.2rem;
                color: rgb(216, 137, 173);
            }
        }
    }
}