nav {
   position: fixed;
   top: 0;
   width: 100%;
   background: black;
   z-index: 999;
    
    ul {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        padding: 1.2rem 0;
        margin-right: 10%;
        
        li {
            margin-left: 5rem;
        }
    }

    a {
        color: white;
        text-decoration: none;
        font-size: 2.5rem;
        text-transform: uppercase;
    }
}