html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
html img,
html video {
  width: 100%;
  height: 100%;
}
html .wrapper {
  width: 85%;
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  z-index: 999;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 1.2rem 0;
  margin-right: 10%;
}
nav ul li {
  margin-left: 5rem;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 2.5rem;
  text-transform: uppercase;
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: black;
  margin-bottom: 12rem;
}
header .headerVideo {
  bottom: 0;
  height: 80%;
}
header h1 {
  position: absolute;
  font-size: 7vmax;
  color: white;
  margin-bottom: 15vh;
}

h2 {
  font-size: 6vmax;
  margin: 0 0 8rem;
  text-transform: uppercase;
}

.projectList {
  padding: 0;
  list-style: none;
}
.projectList .project {
  padding: 8% 0;
  transition: all 0.5s;
  display: flex;
  justify-content: space-between;
}
.projectList .project .description {
  width: 45%;
  transition: all 0.5s;
}
.projectList .project .description .overlayImage {
  position: absolute;
  z-index: -1;
}
.projectList .project .description h3 {
  font-size: 5rem;
  margin-top: 0;
}
.projectList .project .description a {
  color: black;
  text-decoration: none;
  font-size: 2rem;
  border: 2px solid black;
  padding: 1rem;
  margin-right: 2rem;
}
.projectList .project .description h4 {
  font-size: 2rem;
}
.projectList .project .description p {
  font-size: 1.8rem;
  line-height: 2.7rem;
}
.projectList .project .projectImage {
  width: 50%;
  height: 50rem;
  margin-left: 3rem;
  transition: all 0.5s;
  position: relative;
}
.projectList .project .projectImage .overlayImage {
  position: absolute;
  width: 10rem;
  height: 10rem;
  top: -10rem;
  right: -5rem;
}
.projectList .project .projectImage .overlayImage.active {
  animation: spin 1s linear infinite;
}
.projectList .project .projectImage .overlayImage:nth-child(1) {
  left: -5rem;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.skills {
  background: black;
  margin-bottom: 10rem;
  position: relative;
}
.skills .videoInSkills {
  position: absolute;
  bottom: 0;
  height: 100%;
}
.skills ul {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 6rem;
  padding: 7% 0;
}
.skills ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 6rem;
  color: white;
}
.skills ul li span {
  margin-top: 1rem;
  font-size: 2.2rem;
}

.contact {
  background: black;
  padding: 5rem 0;
}
.contact .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact .wrapper ul {
  display: flex;
  justify-content: space-between;
  width: 70%;
  list-style: none;
  font-size: 5rem;
  margin: 0;
  padding: 0;
  color: white;
  margin-bottom: 4rem;
}
.contact .wrapper a {
  font-size: 3.5rem;
  color: white;
  text-decoration: none;
  text-align: center;
}
.contact .wrapper a:nth-of-type(1) {
  margin-bottom: 4rem;
}

footer {
  background: black;
  padding: 1.5rem 0;
}
footer p {
  color: white;
  text-align: center;
  font-size: 2rem;
}